<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />

</head>
<div style="text-align: center;">
    <h2>Directive Example</h2>
</div>
<div style="text-align: center;">
    <h2>Switch Example / Two way data binding</h2>
</div>

<div class="panel-body">
    <div class='row'>
        <div class='col-md-6'>
            <select [(ngModel)]="selectedValue">
                <option *ngFor="let item of items;" [value]="item.name">{{item.name}}</option>
            </select>
        </div>
    </div>

    <div class='col-md-6'>
        <div class='row' [ngSwitch]="selectedValue">
            <div *ngSwitchCase="'One'">One is Selected</div>
            <div *ngSwitchCase="'Two'">Two is Selected</div>
            <div *ngSwitchCase="'Two'">Two Again used in another element</div>
            <div *ngSwitchDefault>This is Default</div>
        </div>
    </div>

</div>

<div style="text-align: center;">
    <h2>ngFor Example</h2>
</div>
<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Cast</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies; let i=index; let o= odd; let e=even;"
                        [ngClass]="{ odd: o, even: e }">
                        <td> {{i}} </td>
                        <td>{{movie.title}}</td>
                        <td>{{movie.director}}</td>
                        <td>{{movie.cast}}</td>
                        <td>{{movie.releaseDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div style="text-align: center;">
        <h2>ngIf Example</h2>
    </div>

    <div style="margin-left: 50px;">
        <div class="row">
            Show<input type="checkbox" [(ngModel)]="showMe" />
        </div>
        <p *ngIf="showMe">
            ShowMe is checked
        </p>
        <p *ngIf="!showMe">
            ShowMe is unchecked
        </p>
        <p *ngIf="showMe; else elseBlock1">
            ShowMe is checked
        </p>
        <ng-template #elseBlock1>
            <p>ShowMe is unchecked Using elseBlock</p>
        </ng-template>
        <p *ngIf="showMe; then thenBlock2 else elseBlock2">
            This is not rendered
        </p>

        <ng-template #thenBlock2>
            <p>ShowMe is checked Using thenblock</p>
        </ng-template>

        <ng-template #elseBlock2>
            <p>ShowMe is unchecked Using elseBlock</p>
        </ng-template>
        <p [hidden]="showMe">
            content to render, when the condition is true using hidden property binding
        </p>
        <p [hidden]="!showMe">
            content
    </div>
</div>